{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrahead %}
    {% endblock %}
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>{% block title %}Document{% endblock %}</title>
</head>
<body>
  <div class="container">
    {% block header %}
    {% include 'base/header.html' %}
    {% endblock %}
        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mascotas <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" role="menu">
                    <li><a class="dropdown-item" href="{% url 'mascota:mascota_crear' %}">Registrar</a></li>
                    <li><a class="dropdown-item" href="{% url 'mascota:mascota_listar' %}">Listar</a></li>
                    
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Adopciones <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" role="menu">
                    <li><a class="dropdown-item" href="{% url 'adopcion:solicitud_crear' %}">Solicitar</a></li>
                    <li><a class="dropdown-item" href="{% url 'adopcion:solicitud_listar' %}">Listar solicitudes</a></li>
                    
                  </ul>
                </li>
              </ul>
            </div>

            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </nav>


       
        
        {% endblock %}
    
        {% block content %}
        <h5>Este es el contenido del archivo base</h5>
        {% endblock %}
        {% block footer %}
        <h5></h5>
        {% endblock %}
    </div>

    {% block extrajs %}
    {% endblock %}
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</html>